<h1 class="top-title">ようこそ Bookers へ！</h1>
<div class="top-box">
	<h5 class="top-text">Bookers では、さまざまな書籍に関するあなたの意見や</h5>
	<h5 class="top-text">印象を共有し交換することができます</h5>
	<p class="top-text"><%= link_to "start", books_path %></p>
</div>